<aside class="w-64 bg-[#f1f5f9] h-screen p-6 hidden lg:flex flex-col">

  <h2 class="text-lg font-semibold mb-8 text-[#002045]">
    Portal Académico
    <p class="text-xs text-gray-400">Sistema de Gestión Académica</p>
  </h2>

  <p class="text-xs text-gray-400 mb-3">MENÚ PRINCIPAL</p>
  <nav class="space-y-2">

    <a routerLink="/dashboard/student" routerLinkActive="bg-[#e6eef8] text-[#002045]"
      [routerLinkActiveOptions]="{ exact: true }"
      class="flex items-center gap-3 p-3 rounded-lg text-gray-600 hover:bg-gray-200 transition">

      <span class="material-symbols-outlined">groups</span>
      General
    </a>

    <a routerLink="/dashboard/classroom" routerLinkActive="bg-[#e6eef8] text-[#002045]"
      class="flex items-center gap-3 p-3 rounded-lg text-gray-600 hover:bg-gray-200 transition">

      <span class="material-symbols-outlined">school</span>
      Registro de Materias
    </a>

    <a routerLink="/dashboard/course" routerLinkActive="bg-[#e6eef8] text-[#002045]"
      class="flex items-center gap-3 p-3 rounded-lg text-gray-600 hover:bg-gray-200 transition">

      <span class="material-symbols-outlined">menu_book</span>
      Mis Materias
    </a>

    <a
      routerLink="/dashboard/settings" routerLinkActive="bg-[#e6eef8] text-[#002045]"
      class="flex items-center gap-3 p-3 rounded-lg text-gray-600 hover:bg-gray-200 transition">
      <span class="material-symbols-outlined">settings</span>
      Settings
    </a>
  </nav>
</aside>
